*{
    margin:0px;
    padding:0px;
}
.main{
    border:2px solid red;
    height:400px;
   display: flex;
   flex-wrap: wrap;
   align-content:center;
   column-gap: 10px;
   row-gap:20px;

}
.one{
    height:100px;
    width:200px;
    border:2px solid red;
    text-align: center;
}





